html,
body,
:root,
#root,
#App {
  height: auto;
  max-height:auto ;;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--colorMoradoFondo);
  color: var(--colorTexto);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: auto;
}
.swal2-container {
  z-index: 999999 !important;
}
/* Color del icono */
.swal2-icon {
  color: var(--colorMorado) !important;
  border-color: var(--colorMorado) !important;
}

/* Para el check de success */
.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: var(--colorMorado) !important;
}

/* Para el ícono de error (la X) */
.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
  background-color: var(--colorMorado) !important;
}
