
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --colorPrincipal: #533b8f;
  --colorMorado: #533b8f;
  --colorMoradoSecundario: #b494f1;
  --colorMoradoFondo: #eeeeff;


  --colorNegro: #070707;
  --colorRojo: #db2b39;
  --colorDorado: #cca43b;
  --colorVerde: #006c67;


  --colorBlanco: #eeeeff;

  --alturaTopMenu: 80px;
  --alturaTopMenuTelefono: 60px;
  --anchoMenuLatera: 20%;

  --fontXs: 12px;
  --fontSm: 16px;
  --fontMd: 21px;
  --fontLg: 28px;
  --fontXl: 37px;
  --fontXxl: 49px;
}

